@import "g-color";
@import "g-font";

.input-box{
  width: 100%;
  height: 35px;
  font-size: $font-normal;
  border: 1px solid gainsboro;
  border-radius: 1px;
  padding-left: 10px;
  color: $gray-light;
}

.input-box:hover{
  border: 1px solid $gray-light;
  color: $gray-dark;
}

.input-box:focus{
  border: 1px solid $gray-light;
  outline:none;
  color: $gray-dark;
}