<form name="setting_form" class="form-horizontal base-margin-auto" style="width: 400px; margin-top: 200px">
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
            <widget-imput-box id="inputEmail" placeholder="手机/邮箱/用户名" ng-maxlength="10">
        </div>
        <!--<div class="col-sm-10">-->
            <!--<input name="mInput" ng-model="username" class="form-control" placeholder="手机/邮箱/用户名" ng-maxlength="10">-->
            <!--<div class="error text-danger pull-left">-->
                <!--<div class="error" ng-if="setting_form.mInput.$error.maxlength">-->
                    <!--<small class="pa-error-font">姓名的长度在20个字符以内</small>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <widget-imput-box type="password" id="inputPassword" placeholder="密码">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 下次自动登录
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-disabled="setting_form.$invalid">Sign in</button>
        </div>
    </div>
</form>
<!--<form name="setting_form">-->

    <!--<input name="last_name"  ng-model="username" ng-maxlength="10">-->

    <!--<span class="btn btn-primary btn-lg text-center pull-right" -->
          <!--ng-disabled="setting_form.$invalid" -->
          <!--style="width:400px; height: 42px;" -->
          <!--ng-click="saveInfo()" >保存</span>-->


<!--</form>-->
