<div class="container" style="width: 400px; margin-top: 50px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">本周日程</h3>
        </div>
        <div class="panel-body">
            <widget-schedule-create-box week="0" create="createThisWeek(data)"></widget-schedule-create-box>
            <div ng-repeat="schedule in thisWeekSchedule">
                <widget-schedule-item data={{schedule}} delete="delete(schedule)"></widget-schedule-item>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">下周日程</h3>
        </div>
        <div class="panel-body">
            <widget-schedule-create-box week="1" create="createNextWeek(data)"></widget-schedule-create-box>
            <div ng-repeat="schedule in nextWeekSchedule">
                <widget-schedule-item data={{schedule}} delete="delete(schedule)"></widget-schedule-item>
            </div>
        </div>
    </div>
</div>